#row {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#clist {
    display: flex;
    flex-direction: column;
}

#create {
    display:flex;
    flex-direction: column;
}